.wrapper {
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
}


.cardwrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: white;
    margin-top: 10vmin;
    border-radius: 2vmin;
    input {
        padding: 6vmin;
        flex-grow: 1;
        border: none;
        font-size: 5vmin;
        font-weight: 800;
        &:focus {
            outline: none;
        }
    }
}