
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 5vmin;
}

.headwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background: #00ABB5;
        border-radius: 3vmin;
        border: none;
        color: white;
        font-size: 10vmin;
        padding: 0 3vmin;
        &:hover {
            background: orange;
            transition: 300ms;
            cursor: pointer;
        }
    }
}

.cardwrapper {
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 3vmin;
    align-items: center;
    margin-top: 5vmin;
    padding: 5vmin;
    button {
        background: #00ABB5;
        border: none;
        border-radius: 2vmin;
        color: white;
        font-weight: 600;
        padding: 2vmin;
        &:hover {
            background: orange;
            transition: 300ms;
            cursor: pointer;
        }
    }
    }
    
