.wrapper {
  display: flex;
  background-color: #F8F7F7;

}

.aside {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  width: 24vmin;
}

.aside_logo > svg {
  margin-top: 2vmin;
  margin-left: 3vmin;
  width: 18vmin;
  cursor: pointer;
}

.link_container {
  display: flex;
  flex-direction: column;
  margin-left: 3vmin;
  padding-top: 7vmin;
  gap: 3vmin;
  color: black;

  span {
    padding-left: 2vmin;
  }
}

a {
  color: black;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5vmin;
  align-items: center;
  background: white;
  height: 7vmin;
}

.avatar {
  margin-left: 3vmin;
}

.avatar_text {
  display: flex;
  flex-direction: column;

  a {
    color: #8e8e8e;
    font-weight: 600;
    font-size: 1.5vmin;
  }
}

.bell {
  margin-right: 2vmin;
}

.bell_counter {
  font-size: 2vmin;
  font-weight: 800;
}
