$primary: #F8F7F7;
$second: #00ABB5;
$hint: #8E8E8E;

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary;
}

h1 {
    font-size: 6vmin;
    color: black;
}
h2 {
    font-size: 5vmin;
}
h3 {
    font-size: 4vmin;
    color: white;
}

.header {
    padding: 3vmin;
    background-color: white;
    height: min-content;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
        .header__logo img {
            padding-top: 5vmin;
            width: 32vmin;
        }
        .header__user {
            display: flex;
            justify-content: space-between;
            padding-bottom: 3vmin;
            img {
                width: 15vmin;
                border-radius: 50%;
        }
            h1 {
                align-self: center;
            }
        }
}
.bodyHeader {
    background-color: $second;
    height: 12vmin;
    padding-left: 3vmin;
        h3 {
            line-height: 12vmin;
        }
}

.footer {
    display: flex;
    height: max-content;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    padding: 2%;
    -webkit-box-shadow: 0px -2px 10px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px -2px 10px 0px rgba(34, 60, 80, 0.1);
    box-shadow: 0px -2px 10px 0px rgba(34, 60, 80, 0.1);
    img {
        width: 7vmin;
        height: 7vmin;
    }
    a {
        text-decoration: none;
        font-size: 3vmin;
        font-weight: 700;
        color: $hint;
        &:hover {
            color: $second;
        }
    }
}